@font-face {
	font-family:"BallsOfBastille";
	src:url("../fonts/balls-of-bastille.otf");
}

@font-face {
	font-family:"Warung";
	src:url("../fonts/Warung2.otf");
}

@font-face {
	font-family:"DolceVita";
	src:url("../fonts/DolceVita.ttf");
}
